backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.2
chardet==3.0.4
dj-database-url==0.5.0
Django==1.11.29
gunicorn==19.10.0
html5lib==1.0.1
idna==2.9
lxml==4.6.5
psycopg2==2.8.5
pytz==2020.1
requests==2.23.0
six==1.15.0
soupsieve==1.9.6
urllib3==1.25.9
webencodings==0.5.1
whitenoise==3.3.1
